html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input {
  border: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none; }

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer; }

body {
  font-family: 'Asap', sans-serif; }

.section-title {
  margin-bottom: 60px;
  font-family: 'Geomanist-Book';
  font-size: 36px;
  color: #26272C;
  letter-spacing: -0.78px;
  text-align: center;
  line-height: 46px; }

@font-face {
  font-family: 'Geomanist-Book';
  src: url("../fonts/Geomanist-Book.eot");
  src: url("../fonts/Geomanist-Book.woff2") format("woff2"), url("../fonts/Geomanist-Book.woff") format("woff"), url("../fonts/Geomanist-Book.ttf") format("truetype"), url("../fonts/Geomanist-Book.svg#Geomanist-Book") format("svg"), url("../fonts/Geomanist-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.relative {
  position: relative; }

.cookie-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0C0E57;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  text-align: center; }

.cookie-bar-description {
  width: 40%px;
  margin-top: 20px; }

.cookie-bar-link {
  font-weight: 700; }

.cookie-buttonn {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background-color: white;
  color: #0C0E57;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin-right: 10px;
  margin-top: 15px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 25px 0 324px; }

.header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 944px;
  height: 978px;
  background: url("../img/decoration/triangle1.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: -1; }

.header-logo {
  margin-bottom: 117px; }

.logo-img {
  width: 100px; }

.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px; }

.container-header {
  width: 50%;
  z-index: 2; }

.header-content {
  max-width: 570px; }
  @media (max-width: 1450px) {
    .header-content {
      max-width: 470px; } }
  @media (max-width: 1100px) {
    .header-content {
      max-width: 440px; } }

.header-title {
  margin-bottom: 25px;
  font-family: 'Geomanist-Book';
  font-size: 46px;
  color: #26272C;
  letter-spacing: -1px;
  line-height: 46px; }

.header-text {
  font-size: 18px;
  color: #788A9D;
  letter-spacing: -0.39px;
  line-height: 36px; }

.subscribe-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.subscribe-form-input {
  width: 370px;
  height: 55px;
  padding-left: 25px;
  font-size: 18px;
  background: #FFFFFF;
  border: 1px solid #E8EBF2;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .subscribe-form-input::-webkit-input-placeholder {
    color: #869AAD;
    font-size: 16px;
    letter-spacing: -0.5px;
    overflow: visible; }
  .subscribe-form-input:-ms-input-placeholder {
    color: #869AAD;
    font-size: 16px;
    letter-spacing: -0.5px;
    overflow: visible; }
  .subscribe-form-input::-moz-placeholder {
    color: #869AAD;
    font-size: 16px;
    letter-spacing: -0.5px;
    overflow: visible; }
  .subscribe-form-input:-moz-placeholder {
    color: #869AAD;
    font-size: 16px;
    letter-spacing: -0.5px;
    overflow: visible; }

.subscribe-form-btn {
  width: 170px;
  height: 55px;
  margin-left: 30px;
  background: #3740FA;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.subscribe-form-btn:hover {
  background: #464efa; }

.header-video-wrapper {
  width: 735px; }
  @media (max-width: 1300px) {
    .header-video-wrapper {
      width: 700px; } }
  @media (max-width: 1200px) {
    .header-video-wrapper {
      width: 600px; } }
  @media (max-width: 1100px) {
    .header-video-wrapper {
      width: 550px; } }

.header-video {
  max-width: 100%;
  -webkit-box-shadow: 0 16px 80px 0 #DFE1ED;
          box-shadow: 0 16px 80px 0 #DFE1ED; }

@media screen and (max-width: 700px) {
  .header-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-video-wrapper {
    width: 90%; }
  .header-content {
    margin: 0 auto;
    text-align: center; }
  .container-header {
    width: 100%;
    margin-bottom: 60px; } }

.value {
  position: relative;
  padding-bottom: 148px; }

.value::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 944px;
  height: 978px;
  background: url("../img/decoration/triangle2.svg") center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: -1; }

.value-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.value-item {
  width: 48.7%;
  padding: 45px 35px 32px;
  margin-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 0 16px 80px 0 #DFE1ED;
          box-shadow: 0 16px 80px 0 #DFE1ED; }

.value-item + .value-item {
  margin-left: 2.5%; }

.value-item:nth-child(odd) {
  margin-left: 0; }

.value-item-ico-wrapper {
  width: 70px;
  height: 69px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  background: #3740FA;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 0; }

.value-item-ico {
  display: block;
  max-width: 100%; }

.value-item-title {
  margin-bottom: 15px;
  font-family: 'Geomanist-Book';
  font-size: 24px;
  color: #26272C;
  letter-spacing: -0.52px;
  line-height: 46px; }

.value-item-text {
  font-size: 16px;
  color: #788A9D;
  letter-spacing: -0.35px;
  line-height: 36px; }

@media screen and (max-width: 480px) {
  .value-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .value-item {
    width: 80%; } }

.process {
  position: relative;
  padding: 80px 0 100px;
  overflow: hidden;
  background: -webkit-radial-gradient(15.67% 14.13%, 2128.01px, #0C0E57 0%, #14052C 100%);
  background: -o-radial-gradient(15.67% 14.13%, 2128.01px, #0C0E57 0%, #14052C 100%);
  background: radial-gradient(2128.01px at 15.67% 14.13%, #0C0E57 0%, #14052C 100%); }

.process::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 822px;
  height: 740px;
  background: url("../img/decoration/triangle3.svg") left no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: 0; }

.process-content {
  position: relative; }

.process-title {
  margin-bottom: 70px;
  color: #fff; }

.process-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.process-item {
  width: 30%;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  text-align: center; }

.process-item + .process-item {
  margin-left: 30px; }

.process-item-img-wrapper {
  min-height: 210px;
  max-height: 211px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px; }

.process-item-img {
  max-width: 100%; }

.process-item-title {
  margin-bottom: 10px;
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.52px;
  text-align: center;
  line-height: 46px; }

.process-item-text {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.35px;
  line-height: 36px;
  opacity: 0.9; }

@media screen and (max-width: 480px) {
  .process-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .process-item {
    width: 80%; } }

.team {
  padding: 169px 0 147px; }

.team-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 870px;
  margin: 0 auto; }

.team-member {
  width: 270px; }

.team-member + .team-member {
  margin-left: 30px; }

.team-member-photo {
  margin-bottom: 10px;
  max-width: 100%;
  width: 100%; }

.team-member-name {
  margin-bottom: 10px;
  font-family: 'Geomanist-Book';
  font-size: 24px;
  color: #26272C;
  letter-spacing: -0.52px;
  line-height: 46px; }

.team-member-description {
  margin-bottom: 15px;
  font-size: 16px;
  color: #788A9D;
  letter-spacing: -0.35px;
  line-height: 30px; }

.footer {
  padding: 15px 0 25px;
  -webkit-box-shadow: 0 -1px 0 0 #E8EBF2;
          box-shadow: 0 -1px 0 0 #E8EBF2;
  background-color: #FAFBFF; }

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px; }

.footer-email {
  font-size: 16px;
  color: #788A9D;
  letter-spacing: -0.35px;
  text-align: right;
  line-height: 30px; }

.footer-email b {
  font-weight: 500;
  color: #3B3D4C; }

.footer-content {
  padding-top: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-heading-container {
  width: 500px;
  height: 100px; }

.footer-heading-content {
  font-size: 30px;
  font-family: 'Geomanist-Book';
  font-weight: 300;
  text-align: center;
  line-height: 40px;
  color: #0C0E57; }

.get-in-touch-btn {
  width: 180px;
  height: 40px;
  border: 2px solid #0C0E57;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 40px;
  color: #0C0E57; }

.get-in-touch-btn:hover {
  background-color: #0C0E57;
  color: #fff; }

.footer-social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.team-member-social-link {
  margin: 0 20px 0 20px; }

.footer-description, .privacy-policy-link {
  padding-top: 40px;
  color: #0C0E57; }

.privacy-policy-container {
  width: 80%;
  margin: 50px 80px;
  height: 150px; }

.main-heading {
  font-size: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }

.subtitle {
  margin: 10px 10px 10px 0; }

.main-about-sirius {
  padding-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  background-color: #EDEDF6; }

.about-sirius-heading {
  font-size: 36px;
  font-family: 'Geomanist-Book';
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
  color: #26272C;
  letter-spacing: -0.78px;
  line-height: 46px; }

.about-sirius-content {
  margin: 50px 80px 30px 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.about-sirius-description {
  text-align: center;
  font-size: 20px;
  font-weight: 300px;
  color: #0C0E57;
  line-height: 30px; }

.about-sirius-btn {
  width: 300px;
  height: 50px;
  border: 2px solid #0C0E57;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  margin-top: 50px;
  background-color: #0C0E57;
  color: #fff; }

.about-sirius-btn:hover {
  background-color: transparent;
  color: #0C0E57; }

@media screen and (max-width: 480px) {
  .main-about-sirius {
    height: 700px; } }
