.privacy-policy-container 
    width: 80%
    margin: 50px 80px 
    height: 150px
   
    
.main-heading 
    font-size: 50px
    display: flex
    justify-content: center
    margin-bottom: 30px
    
.subtitle  
    margin: 10px 10px 10px 0
    
    
    
@media screen and (max-width: 480px)
   .privacy-policy-container 
        width: 100%
        margin: 20px 10px